:host{
  height: 100%;
  //background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img.png");
}
//div{
//  background-color: red;
//}

mat-form-field{
  width: 100%;
}

mat-card{
  opacity: 0.9!important;
}
