<mat-card>
  <mat-card-title>
    INICIAR SESIÓN
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="formModel" (ngSubmit)="enviarCredenciales()" autocomplete="off" >
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="login"  autocomplete="off">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="clave" type="password" autocomplete="off" >
      </mat-form-field>
      <button mat-raised-button color="primary">ENVIAR</button>
    </form>
  </mat-card-content>
  <div *ngIf="respuestaSesion">
    <div *ngFor="let msg of respuestaSesion.mensajes">
      {{msg.descripcion}}
    </div>
  </div>
</mat-card>






<!--<p>-->
<!--  {{formModel.value | json}}-->
<!--</p>-->
