:host{
  height: 100%;
  //background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
}
//div{
//  background-color: red;
//}

mat-form-field{
  width: 100%;
}
